.button-back {
  background: #FFFFFF;
  box-shadow: 0px 15px 34px -10px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
  border: unset;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow $trans-default;
  position: absolute;
  top: -50px;
  left: 0;
  transform: translateY(-50%);

  &:hover {
    box-shadow: 0px 15px 34px -10px rgba(0, 0, 0, 0.4);
  }
}

.button-back__pic {
  margin-left: -3px;
}