@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: "Avenir Next Cyr";
	font-display: swap;
	src: url(../fonts/avenir-next-cyr-400.woff2) format("woff2"), url(../fonts/avenir-next-cyr-400.woff) format("woff")
}

@font-face {
	font-style: italic;
	font-weight: 400;
	font-family: "Avenir Next Cyr";
	font-display: swap;
	src: url(../fonts/avenir-next-cyr-400i.woff2) format("woff2"), url(../fonts/avenir-next-cyr-400i.woff) format("woff")
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: "Avenir Next Cyr";
	font-display: swap;
	src: url(../fonts/avenir-next-cyr-500.woff2) format("woff2"), url(../fonts/avenir-next-cyr-500.woff) format("woff")
}

@font-face {
	font-style: normal;
	font-weight: 600;
	font-family: "Avenir Next Cyr";
	font-display: swap;
	src: url(../fonts/avenir-next-cyr-600.woff2) format("woff2"), url(../fonts/avenir-next-cyr-600.woff) format("woff")
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: "Avenir Next Cyr";
	font-display: swap;
	src: url(../fonts/avenir-next-cyr-700.woff2) format("woff2"), url(../fonts/avenir-next-cyr-700.woff) format("woff")
}